<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>
  <header>
    <!---MAIN NAV BAR START-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <h1>TECH BLOG ✍️</h1>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Home <span
                  class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Sign-in</a>
                <a class="dropdown-item" href="#">Create New Account</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <!---MAIN NAV BAR END-->
  </header>
  <main>

    <!-- login start -->
    <div class="container text-left m-3">
      <div class="row">
        <div class="col-6">
          <picture>
            <source srcset="../public/img/pexels-pixabay-267569.jpg" type="image/svg+xml">
            <img src="../public/img/pexels-pixabay-267569.jpg" class="rounded img-fluid" alt="image desc">
          </picture>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <p>In order to view this content, you must be logged in.</p>
            <p>Don't have an account? <span>Create Account</span></p>
            <h1>Sign In</h1>
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-control mw-50" name="" id="" aria-describedby="helpId" placeholder="">
            <label for="" class="form-label">Password</label>
            <input type="text" class="form-control mw-50 mb-3" name="" id="" aria-describedby="helpId" placeholder="">
            <p>Login failed. Check the email and password and try again.</p>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- login end -->

    <!-- START FORUM NAVIGATION -->

    <div class="bg-light">
      <h1 class="text-center">
        Find by Topic
      </h1>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            TOPIC 1
          </div>
          <div class="col">
            TOPIC 2
          </div>
          <div class="col">
            TOPIC 3
          </div>
        </div>
      </div>
    </div>
    <!-- END FORUM NAVIGATION -->

    <!--post start-->
    <div class="container m-1">
      <!-- POST HEADER -->
      <div class="d-flex justify-content-start align-items-baseline bg-light">
        <h1 class="ms-3">Post Title</h1>
        <p class="mx-2"><span>First</span> <span>Last</span></p>
        <p class="mx-2">DD/MM/YYYY</p>
      </div>
      <!-- POST BODY -->
      <div class="card m-2">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo reprehenderit
            obcaecati adipisci possimus saepe qui nesciunt ullam, sequi corporis consequuntur odio nemo a ipsum quos
            modi laudantium dicta quidem quaerat.
          </p>
        </div>
      </div>
      <!-- COMMENT SECTION -->
      <div class="row m-1 ps-4 bg-light">
        <h3 class="col-2 py-3">Comments</h3>
      </div>
      <div>
        <div class="m-1 ps-4 bg-light">
          <h5 class="card-title"> <img class="card-img-top" src="holder.js/100x180/" alt="👤">
            User Name</h5>
          <p class="col mt-auto">DD/MM/YYYY</p>
          <div class="card mx-1">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo reprehenderit
                obcaecati adipisci possimus saepe qui nesciunt ullam, sequi corporis consequuntur odio nemo a ipsum quos
                modi laudantium dicta quidem quaerat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--post end-->
  <!-- START SIGN UP  -->
  <div class="container m-3">
    <form class="row g-3">
        <h1>New Account</h1>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">*Full Name</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">*Email</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">*User Name</label>
        <input type="email" class="form-control" id="inputEmail4">
        <small>This is the name that will display on your posts.</small>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">*New Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div>
        *required fields
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
    </form>
  </div>
  <!-- END SIGN UP -->
  </main>

  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>
</body>

</html>